* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(216, 216, 216);
}

input:not([type=radio]), select, textarea {
    display: block;
    width: 100%;
    padding: 1% 0 1% 0;

    border-radius: 5px;
    border-color: rgb(230, 230, 230);
    border-width: 2px;

    box-shadow: 0px;
}

div:not(.form-group):not(.form-submit) {
    padding: 0 15px 0 15px;

    background-color: white;
    margin: auto;

    width: 25%;
    height: 50%;

    border: solid;
    border-color: transparent;
    border-radius: 5px;

    box-shadow: 5px 0px 5px rgba(87, 87, 87, 0.15);
}

.form h1 {
    text-align: center;
}

.form-submit {
    display: flex;
    justify-content: center;
}
.form-submit button {
    background-color: green;
    text-align: center;
    color: white;

    border-radius: 2px;
    border-color: transparent;
    
    width: 100%;
    padding: 5px;

    margin: auto;
    margin-bottom: 5px;
}
.form-submit button:hover {
    background-color: rgb(0, 161, 0);
}

.form-group {
    margin-bottom: 4%;
}

.confirmation {
    display: flex;
    flex-direction: column;
}

.confirmation a {
    margin: 5%;
}

.confirmation button {
    padding: 5%;
    width: 100%;
    background-color: blue;
    color: white;
}