* {
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
}

hr {
    width: 97%;
    height: 2px;
    margin: 1.75rem auto;

    border: none;
    background-color: #3f62ff;
}

body {
    background-color: rgba(124, 158, 209, 0.72);
}

body::-webkit-scrollbar {
    display: none;
}

main {
    margin-top: 5%;
}

h2 {
    margin: 5px;

}

.navbar {
    background-color: rgb(124, 158, 209);
}

.section {
    width: 98%;
}